@{
    ViewData["Title"] = "Home Page";
}
@* <link href="~/css/animation.css" rel="stylesheet" /> *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    int a = 7;
    int b = 9;
    int c = a + b;
}
<div>value of c : @c</div>
<div>
    @{
        var list=new List<int>() { 1,2,3};
    }
</div>
<div>
    <label>List is having :</label>
    <div>
        @{
            foreach(var item in list)
            {
                <div>@item</div>
            }
        }
    </div>
</div>
@* <div class="obj">
    <p>Anil Is Awesome</p>
</div> *@